<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Image Gallery</h2>
 
  <div class="row">
    <div class="col-md-3">
      <div class="thumbnail">
        <a href="bangles.jpg" target="_blank">
         <%= image_tag "bangles.jpg"%>
          <div class="caption">
            <p>Bangles</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
        <a href="earing.jpg" target="_blank">
          <%= image_tag "earing.jpg" %>
          <div class="caption">
            <p>Earing</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
        <a href="gold necklace.png" target="_blank">
          <%= image_tag "gold necklace.png"%>
          <div class="caption">
            <p>Gold necklace</p>
          </div>
        </a>
      </div>
    </div>
     <div class="col-md-3">
      <div class="thumbnail">
        <a href="nose pin.jpg" target="_blank">
          <%= image_tag "nose pin.jpg"%>
          <div class="caption">
            <p>Nose Pin</p>
          </div>
        </a>
      </div>
    </div>

  </div>
</div>

</body>
</html>


