
<h1><%= @page_title %></h1>
<h2>About Us</h2>
<b>India's beauty lies in its diversity. Every part of India has its unique jewellery, the expertise to create those exist only in that region, passed on through generations. As we look forward to 2021 with a new hope, we also look back with all humility at the things 2020 taught us in the terms of life, sustainability and subtle fashion. The year saw everything meaningful take the centrestage and the same happened in the world of fashion - minimalism took over, even in the world of jewellery. Here's a look back at the trends that dominated the jewellery industry in 2020.<br><br>
